{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Members{% endblock %}

{% block content %}

<div class="container">

  <h2>Patients</h2>

  <div class="nav navbar right">
    <a class="btn-primary" href="new">Add New</a>
    <form action="{% url 'dataentry:patient_list' %}"  method="get" accept-charset="utf-8">
      <button class="default" type="submit"></button>
      <input class="searchfield" id="searchbox" name="last_name" type="text" placeholder="Search">
    </form>
  </div>
  <div class="list-group">
    {% for patient in patient_list %}
    <a href="{% url 'dataentry:patient_detail' patient.pid %}" class="list-group-item">
      {{ patient.pid }} - <b>{{ patient.last_name }}, {{ patient.first_name }}</b>
      - Age: {{ patient.age}}
    </a>
    {% endfor %}

  </div>

  {% endblock content %}
