{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ patient.pid }}{% endblock %}

{% block content %}
<h1>{{ patient.pid }}</h1>
<form class="form-horizontal" method="post" action="{% url 'dataentry:patient_update' patient.pid %}">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Update</button>
    </div>
  </div>
</form>
{% endblock %}
