<div class="col-sm-3 col-md-2 sidebar sidebar-fixed-top">
<h3>{{ nav|title }}</h3>
  <ul class="nav nav-pills nav-stacked">
    {% for item in sidebar_items %} 
    <li class="{% if side == item.name %}active{% endif %}"><a href="{% url item.url %}">{{ item.name|title }}</a></li>
    {% endfor %}
  </ul>
</div>
