{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  <div class="col-sm-9 col-sm-offset-3">

  {% if title %}
    <h1 class="title">{{ title }}</h1>
    <h2 class="subtitle">{{ msg }} </h2>
  {% endif %}

    <form method = 'POST' action = ''>{% csrf_token %}

      {{ form|crispy }}

      <input class='btn btn-primary' type='submit' value='Submit' />

    </form>
  </div>
</div>
{% endblock %}
