{% extends "base.html" %}
{% load static %}

{% block title %}patient: {{ object.pid }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.pid }} ({{ object.status }})</h2>
      {% if object.last_name %}
      <p>{{ object.last_name }}, {{ object.first_name }} {{ object.mi }} - Age: {{ object.age }}</p>
      <p>{{ object.address1 }}<br>
      {{ object.address2 }}<br>
      {{ object.city }}, {{ object.state }} {{ object.zip_code }}</p>
      {% endif %}
    </div>
  </div>

{% if object %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'dataentry:patient_update' patient.pid %}">Update</a>
    <a class="btn btn-primary" href="{% url 'dataentry:patient_list' %}">Done</a>
    <!-- Your Stuff: Custom patient template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

