{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ site.id }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-9 col-sm-offset-3">
    <h1 class="subtitle">Update site</h1>
    <h2>{{ site.name }}</h2>
    <form class="form-horizontal" method="post" action="{% url 'dataentry:site_update' site.id %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Update</button>
          </div>
        </div>
    </form>
  </div>
</div>
{% endblock %}
