{% extends "base.html" %}
{% load static %}{% load i18n %}{% load crispy_forms_tags $}

{% block title %}Site: {{ object.id }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.id }} ({{ object.status }})</h2>
      {% if object.name %}
      <p>{{ object.name }}</p>
      <p>{{ object.address1 }}<br>
      {{ object.address2 }}<br>
      {{ object.city }}, {{ object.state }} {{ object.zip_code }}</p>
      {% endif %}
    </div>
  </div>

  {% if object %}
  <!-- Action buttons -->
  <div class="row">

    <div class="col-sm-12 ">
      <a class="btn btn-primary" href="{% url 'dataentry:site_update' site.id %}">Update</a>
      <a class="btn btn-primary" href="{% url 'dataentry:site_list' %}">Done</a>
      <!-- Your Stuff: Custom site template urls -->
    </div>

  </div>
  <!-- End Action buttons -->
  {% endif %}


</div>
{% endblock content %}

