{% extends "base.html" %}
{% load static %}{% load i18n %}{% load crispy_forms_tags $}

{% block content %}

<div class="row">
  <div class="col-sm-9 col-sm-offset-3">

    <h1>Sites</h1>

    <div class="nav navbar right">
      <a class="btn-primary" href="new">Add New</a>
    </div>
    <div class="table table-striped table-hover">
      {% for site in site_list %}
      <tr>
        <a type="button" class="btn btn-default btn-lg btn-block" href="{% url 'dataentry:site_detail' site.id %}">
          {{ site.id }} - <b>{{ site.name }}, {{ site.status }}</b>
        </a>
      </tr>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock content %}
