{% extends "landing.html" %}
{% load crispy_forms_tags %}

{% block block_title %}Welcome | {% endblock %}

<style>
{% block style %}
.jumbotron {
  background-color: #48851B;
  color: white;
}
h1 small {
  color: rgb(80, 80, 80);
}
{% endblock %}
</style>

{% block jumbotron %}
{% if not request.user.is_authenticated %}
<div class="jumbotron">
  <h1>InsightBill <small>Simple. Fast.</h1>
  <p>Welcome to InsightBill. Getting medical billing services done simply and efficiently so your business can do what it does best.</p>
  <a class="btn btn-lg btn-primary" href="./contact" role="button">Click here to join &raquo;</a>
  </p>
</div>
{% endif %}
{% endblock %}

{% if request.user.is_staff %}
{% block content %}
<h1>Dataentry</h1>

<div class="row">
  <div class="btn-group" role="group" aria-label="..."> 
    <a class="btn btn-default" href="#">Claims</a>
    <a class="btn btn-default" href="#">Clients</a>
    <a class="btn btn-default" href="#">Client Contacts</a>
    <a class="btn btn-default" href="#">Contacts</a>
    <a class="btn btn-default" href="#">Orders</a>
    <a class="btn btn-default" href="{% url 'dataentry:patient_list' %}">Patients</a>
    <a class="btn btn-default" href="{% url 'dataentry:site_list' %}">Sites</a>
  </div>
</div>
{% endblock %}
{% endif %}
