{% extends "landing.html" %}

<style>
{% block style %}
.jumbotron {
    background-color: #48851B;
    color: white;
}
h1 small {
  color: rgb(80, 80, 80);
}
{% endblock %}
</style>

{% block jumbotron %}
{% if request.user.is_authenticated %}
<div class="jumbotron">
    <h1>InsightBill <small>Simple. Fast.</h1>
    <p>Welcome to InsightBill. Getting medical billing services done simply and efficiently so your business can do what it does best.</p>
</div>
{% endif %}
{% endblock %}

{% block content %}
<h2>Navigation</h2> 
<div class="button-bar">
  <a class="button-default" href="{% url 'dataentry:home' %}">Data Entry</a>
  <a class="button-default" href="{% url 'setup:home' %}">Setup</a>
</div>
{% endblock %}
