{% extends "landing.html" %}
{% load crispy_forms_tags %}

{% block block_title %}Welcome | {% endblock %}

<style>
{% block style %}
.jumbotron {
  background-color: #48851B;
  color: white;
}
h1 small {
  color: rgb(80, 80, 80);
}
{% endblock %}
</style>

{% block jumbotron %}
{% if not request.user.is_authenticated %}
<div class="jumbotron">
  <h1>InsightBill <small>Simple. Fast.</h1>
  <p>Welcome to InsightBill. Getting medical billing services done simply and efficiently so your business can do what it does best.</p>
  <a class="btn btn-lg btn-primary" href="./contact" role="button">Click here to join &raquo;</a>
  </p>
</div>
{% endif %}
{% endblock %}

{% if request.user.is_staff %}
{% block content %}
<h1>Setup</h1>

<div class="row">
  <div class="btn-group" role="group" aria-label="..."> 
    <a class="btn btn-default" href="{% url 'setup:icd_entry' %}">ICD Codes</a>
    <a class="btn btn-default" href="#">CPT Codes</a>
    <a class="btn btn-default" href="#">Panels</a>
    <a class="btn btn-default" href="#">Payors</a>
    <a class="btn btn-default" href="#">Price sheets</a>
    <a class="btn btn-default" href="#">Tests</a>
  </div>
    <div class="row">
    <p>Or upload a file</p>
    <a class="btn btn-primary" href="{% url 'setup:file_upload' %}">Click Here</a>
  </div>
</div>
{% endblock %}
{% endif %}
